$primary-color: #abcdef;

.aa {
  width: 100px;
  height: 100px;
  background-color:$primary-color;
  // h2 {
  //   font-size: 32px;
  //   color: green;
  //   span {
  //     text-indent: 4em;
  //   }
  // }
}